body {
    background-color: #e0e0e0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    color: white;
    margin: 0;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #575757;
}

.content {
    background-color: white;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    border-radius: 10px;
    margin-bottom: 20px;
}